site_name: winiutils
nav:
- Home: index.md
- API: api.md
plugins:
- search
- mermaid2
- mkdocstrings:
    handlers:
      python:
        options:
          docstring_style: google
          members: true
          show_source: true
          inherited_members: true
          filters: []
          show_submodules: true
theme:
  name: material
  palette:
  - scheme: slate
    toggle:
      icon: material/brightness-4
      name: Light mode
  - scheme: default
    toggle:
      icon: material/brightness-7
      name: Dark mode
