name: Build
'on':
  workflow_dispatch: {}
  workflow_run:
    workflows:
    - Health Check
    types:
    - completed
    branches:
    - main
permissions: {}
run-name: Build
defaults:
  run:
    shell: bash
env:
  PYTHONDONTWRITEBYTECODE: 1
  UV_NO_SYNC: 1
jobs:
  build_artifacts:
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - windows-latest
        - macos-latest
      fail-fast: true
    runs-on: ${{ matrix.os }}
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event
      != 'schedule' }}
    steps:
    - name: Checkout Repository
      id: checkout_repository
      uses: actions/checkout@main
    - name: Setup Version Control
      id: setup_version_control
      run: git config --global user.email "github-actions[bot]@users.noreply.github.com"
        && git config --global user.name "github-actions[bot]"
    - name: Setup Package Manager
      id: setup_package_manager
      uses: astral-sh/setup-uv@main
      with:
        python-version: '3.14'
    - name: Update Dependencies
      id: update_dependencies
      run: uv lock --upgrade
    - name: Install Dependencies
      id: install_dependencies
      run: uv sync
    - name: Add Dependency Updates To Version Control
      id: add_dependency_updates_to_version_control
      run: git add pyproject.toml uv.lock
    - name: Build Artifacts
      id: build_artifacts
      run: uv run pyrig build
    - name: Upload Artifacts
      id: upload_artifacts
      uses: actions/upload-artifact@main
      with:
        name: winiutils-${{ runner.os }}
        path: dist
  build_container_image:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event
      != 'schedule' }}
    steps:
    - name: Checkout Repository
      id: checkout_repository
      uses: actions/checkout@main
    - name: Install Container Engine
      id: install_container_engine
      uses: redhat-actions/podman-install@main
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build Container Image
      id: build_container_image
      run: podman build -t winiutils .
    - name: Make Dist Folder
      id: make_dist_folder
      run: mkdir -p dist
    - name: Save Container Image
      id: save_container_image
      run: podman save -o dist/winiutils.tar winiutils
    - name: Upload Artifacts
      id: upload_artifacts
      uses: actions/upload-artifact@main
      with:
        name: container-image
        path: dist
