name: Health Check
'on':
  workflow_dispatch: {}
  pull_request:
    types:
    - opened
    - synchronize
    - reopened
  push:
    branches:
    - main
  schedule:
  - cron: 0 1 * * *
permissions: {}
run-name: Health Check
defaults:
  run:
    shell: bash
env:
  PYTHONDONTWRITEBYTECODE: 1
  UV_NO_SYNC: 1
jobs:
  health_checks:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      id: checkout_repository
      uses: actions/checkout@main
    - name: Setup Version Control
      id: setup_version_control
      run: git config --global user.email "github-actions[bot]@users.noreply.github.com"
        && git config --global user.name "github-actions[bot]"
    - name: Setup Package Manager
      id: setup_package_manager
      uses: astral-sh/setup-uv@main
      with:
        python-version: '3.14'
    - name: Update Dependencies
      id: update_dependencies
      run: uv lock --upgrade
    - name: Install Dependencies
      id: install_dependencies
      run: uv sync
    - name: Add Dependency Updates To Version Control
      id: add_dependency_updates_to_version_control
      run: git add pyproject.toml uv.lock
    - name: Run Pre Commit Hooks
      id: run_pre_commit_hooks
      run: uv run prek run --all-files
    - name: Run Dependency Audit
      id: run_dependency_audit
      run: uv run pip-audit
    - name: Protect Repository
      id: protect_repository
      run: uv run pyrig protect-repo
      env:
        REPO_TOKEN: ${{ secrets.REPO_TOKEN }}
  matrix_health_checks:
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - windows-latest
        - macos-latest
        python-version:
        - '3.12'
        - '3.13'
        - '3.14'
      fail-fast: true
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout Repository
      id: checkout_repository
      uses: actions/checkout@main
    - name: Setup Version Control
      id: setup_version_control
      run: git config --global user.email "github-actions[bot]@users.noreply.github.com"
        && git config --global user.name "github-actions[bot]"
    - name: Setup Package Manager
      id: setup_package_manager
      uses: astral-sh/setup-uv@main
      with:
        python-version: ${{ matrix.python-version }}
    - name: Update Dependencies
      id: update_dependencies
      run: uv lock --upgrade
    - name: Install Dependencies
      id: install_dependencies
      run: uv sync
    - name: Add Dependency Updates To Version Control
      id: add_dependency_updates_to_version_control
      run: git add pyproject.toml uv.lock
    - name: Run Tests
      id: run_tests
      run: uv run pytest --log-cli-level=INFO --cov-report=xml
    - name: Upload Coverage Report
      id: upload_coverage_report
      uses: codecov/codecov-action@main
      with:
        files: coverage.xml
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: ${{ secrets.CODECOV_TOKEN && 'true' || 'false' }}
  health_check:
    needs:
    - matrix_health_checks
    - health_checks
    runs-on: ubuntu-latest
    steps:
    - name: Aggregate Jobs
      id: aggregate_jobs
      run: echo 'Aggregating jobs into one job.'
