name: Release
'on':
  workflow_dispatch: {}
  workflow_run:
    workflows:
    - Build
    types:
    - completed
permissions:
  contents: write
  actions: read
run-name: Release
defaults:
  run:
    shell: bash
env:
  PYTHONDONTWRITEBYTECODE: 1
  UV_NO_SYNC: 1
jobs:
  release:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
    - name: Checkout Repository
      id: checkout_repository
      uses: actions/checkout@main
      with:
        token: ${{ secrets.REPO_TOKEN }}
    - name: Setup Version Control
      id: setup_version_control
      run: git config --global user.email "github-actions[bot]@users.noreply.github.com"
        && git config --global user.name "github-actions[bot]"
    - name: Setup Package Manager
      id: setup_package_manager
      uses: astral-sh/setup-uv@main
      with:
        python-version: '3.14'
    - name: Update Dependencies
      id: update_dependencies
      run: uv lock --upgrade
    - name: Install Dependencies
      id: install_dependencies
      run: uv sync
    - name: Add Dependency Updates To Version Control
      id: add_dependency_updates_to_version_control
      run: git add pyproject.toml uv.lock
    - name: Patch Version
      id: patch_version
      run: uv version --bump patch
    - name: Add Version Bump To Version Control
      id: add_version_bump_to_version_control
      run: git add pyproject.toml uv.lock
    - name: Commit Added Changes
      id: commit_added_changes
      run: 'git commit --no-verify -m "[skip ci] CI/CD: Committing possible changes
        (e.g.: pyproject.toml)"'
    - name: Push Commits
      id: push_commits
      run: git push
    - name: Create And Push Tag
      id: create_and_push_tag
      run: git tag v$(uv version --short) && git push origin v$(uv version --short)
    - name: Extract Version
      id: extract_version
      run: echo "version=v$(uv version --short)" >> $GITHUB_OUTPUT
    - name: Download Artifacts From Workflow Run
      id: download_artifacts_from_workflow_run
      uses: actions/download-artifact@main
      with:
        path: dist
        run-id: ${{ github.event.workflow_run.id }}
        github-token: ${{ secrets.GITHUB_TOKEN }}
        merge-multiple: 'true'
    - name: Build Changelog
      id: build_changelog
      uses: mikepenz/release-changelog-builder-action@develop
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Create Release
      id: create_release
      uses: ncipollo/release-action@main
      with:
        tag: ${{ steps.extract_version.outputs.version }}
        name: ${{ github.event.repository.name }} ${{ steps.extract_version.outputs.version
          }}
        body: ${{ steps.build_changelog.outputs.changelog }}
        artifacts: dist/*
