name: Release Workflow
'on':
  workflow_dispatch: {}
  workflow_run:
    workflows:
    - Health Check Workflow
    types:
    - completed
    branches:
    - main
permissions:
  contents: write
run-name: Release Workflow
defaults:
  run:
    shell: bash
env:
  PYTHONDONTWRITEBYTECODE: 1
jobs:
  build:
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - windows-latest
        - macos-latest
      fail-fast: true
    runs-on: ${{ matrix.os }}
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
    - name: No Builder Defined
      id: no_builder_defined
      run: echo 'No non-abstract builders defined. Skipping build.'
  release:
    needs:
    - build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      id: checkout_repository
      uses: actions/checkout@main
      with:
        token: ${{ secrets.REPO_TOKEN }}
    - name: Setup Project Mgt
      id: setup_project_mgt
      uses: astral-sh/setup-uv@main
      with:
        python-version: 3.14.0
    - name: Install Python Dependencies
      id: install_python_dependencies
      run: uv sync
    - name: Patch Version
      id: patch_version
      run: uv version --bump patch && git add pyproject.toml
    - name: Update Dependencies
      id: update_dependencies
      run: uv lock --upgrade && uv sync
    - name: Add Dependency Updates To Git
      id: add_dependency_updates_to_git
      run: git add pyproject.toml uv.lock
    - name: Setup Git
      id: setup_git
      run: git config --global user.email "github-actions[bot]@users.noreply.github.com"
        && git config --global user.name "github-actions[bot]"
    - name: Run Pre Commit Hooks
      id: run_pre_commit_hooks
      run: uv run pre-commit run --all-files
    - name: Commit Added Changes
      id: commit_added_changes
      run: 'git commit --no-verify -m ''[skip ci] CI/CD: Committing possible added
        changes (e.g.: pyproject.toml)'''
    - name: Push Commits
      id: push_commits
      run: git push
    - name: Create And Push Tag
      id: create_and_push_tag
      run: git tag v$(uv version --short) && git push origin v$(uv version --short)
    - name: Extract Version
      id: extract_version
      run: echo "version=v$(uv version --short)" >> $GITHUB_OUTPUT
    - name: Download Artifacts
      id: download_artifacts
      uses: actions/download-artifact@main
      with:
        path: dist
        merge-multiple: 'true'
    - name: Build Changelog
      id: build_changelog
      uses: mikepenz/release-changelog-builder-action@develop
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Create Release
      id: create_release
      uses: ncipollo/release-action@main
      with:
        tag: ${{ steps.extract_version.outputs.version }}
        name: ${{ github.event.repository.name }} ${{ steps.extract_version.outputs.version
          }}
        body: ${{ steps.build_changelog.outputs.changelog }}
        artifacts: dist/*
